/*
General rules
*/

*,
*::after,
*::before {
  font-family: "Aniron", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #000;
  background-image: url('');
  color: #fff;
  scroll-behavior: smooth;
}

span {
  color: #ffb144;
  text-shadow: 5px 5px #000000;
}

a {
  text-decoration: none;
  color: #ffb144;
  -webkit-background-clip: text;
  filter: drop-shadow(6px 4px 6px #000000);
}

li {
  list-style: none;
}
a:hover {
  background-image: linear-gradient(180deg, #ffb144, #ff9500);
  text-shadow: 0 0 7px #e09900;
}

/* Aside div styling */
aside {
  width: 20%;
  height: 85vh;
  position: fixed;
  left: 4%;
  top: 50px;
  background-color: rgb(34, 34, 34);
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5px;
  flex-direction: column;
  gap: 0;
  border: 1px solid hsl(0, 0%, 22%);
}
.logo {
  filter: drop-shadow(0px 5px 20px black);
}

ul {
  top: 32%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

ul li {
  text-align: center;
  font-size: 25px;
}

/*Main content Styling*/
.main-container {
  border: 1px solid hsl(0, 0%, 22%);
  position: absolute;
  left: 28%;
  right: 5%;
  top: 50px;
  background-color: rgb(34, 34, 34);
  border-radius: 25px;
  padding: 25px;
}
.main-title {
  text-align: center;
  font-size: 17px;
  color: #cfcfcf;
}

.main-title span {
  font-size: 40px;
}
.icon-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.icon-card {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}
.icon-card img {
  filter: grayscale(0.5);
  transition: 0.2s ease-in;
}
.icon-card:hover img {
  filter: grayscale(0);
  scale: 1.1;
}
/*Section 2 Css */
.section-2 h2 {
  color: #e09900;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/*section 3 css */
h5 {
  text-align: center;
  color: #cfcfcf;
}
h1 {
  text-align: center;
  color: #ffb144;
  text-shadow: 5px 5px #000000;
}
ol li { 
    list-style:decimal;
}

.section-3 h3 {
    color: #e09900;
}

.section-4 h1{
    font-size: 40px;
}